@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= DM+Sans:wght@400;500 & family= Fascinate & family= Fredericka+the+Great & family= Kaushan+Script & family= PT+Sans+Narrow & family= Passion+One & family= Passions+Conflict & family= Poppins:wght@400;500 & family= Roboto:wght@400;700 & family= Sriracha & family= exibir=trocar');

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= DM+Sans:wght@400;500 & family= Fascinate & family= Fredericka+the+Great & family= Kaushan+Script & family= PT+Sans+Narrow & family= Passion+One & family= Passions+Conflict & family= Poppins:wght@400;500 & family= Roboto:wght@400;700 & family= Sriracha & family= exibir=trocar');

:root{
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursiva;
  --fonte3: 'Sriracha', cursiva;
}

* {
  margin: 0px;
  padding: 0px; 
}

html, body {
  min-height: 100vh;
  background-color: darkgrey;
  font-family: var(--fonte1);
}

header {
  background-color: black;
  color: #fff;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 10vh;
}

header > p {
  padding-bottom: 50px;
}

header a, footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover, footer a:hover {
  color: rgb(32, 31, 31);
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: cursive;
  font-size: 4vh;
}

section > p {
  padding-bottom: 2em;
}

section.normal {
  background-color: #fff;
  color: black;
}

section.imagem {
  background-color: rgb(54, 53, 53);
  color: #fff;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.671);
  background-attachment: fixed;
}

section.imagem > p {
  display: inline-block;
  padding: 6px;
  background-color: rgba(103, 104, 102, 0);
  width: 350px;
  text-shadow: 1px 1px 0px black;
  
}

section#img01 {
  background-image: url('../imagens/background001.jpg');
  background-position: right center;
  background-size: cover;
}

section#img02 {
  background-image: url('../imagens/background002.jpg');
  background-position: right center;
  background-size: cover;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 2vh;
}
